/* RESET  */

:root {
  --colorBack: #666680;
  --colorFont: #ffffff;
  --colorMain: rgb(8, 39, 95);
  font-family: "", sans-serif;
}

/* RESET  */
html,
body,
#root {
  margin: 0;
  padding: 0;
  background-color: var(--colorBack);
  width: 100%;
  height: 100%;
}

/* Estilo para o Cabeçalho  */

.logo {
  width: 100%;
  height: 12%;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 12px;
  color: var(--colorFont);
  background-color: var(--colorMain);
  text-shadow:
    -1px -2px 0px #000000,
    -1px 2px 0px #000000,
    1px -2px 0px #000000,
    1px 2px 0px #000000;
}

.imagemlogo {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

/* Estilo para Conteudo Principal da Página  */

.content {
  width: 100%;
  height: 88%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  color: var(--colorFont);
  text-shadow:
    -1px -2px 0px #000000,
    -1px 2px 0px #000000,
    1px -2px 0px #000000,
    1px 2px 0px #000000;
  font-size: 13px;
}

.desc > img {
  width: 60px;
  margin-right: 20px;
}

/* Estilo para o campo das tabelas  */

.tabelas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 850px;
  height: 50%;
}

.tabelaUP{
  width: 840px;
  height: 55px;
  display: flex;
  align-items: center;
  text-shadow:
  -1px -2px 0px #000000,
  -1px 2px 0px #000000,
  1px -2px 0px #000000,
  1px 2px 0px #000000;
  font-size: 13px;

}

.tabelaUP > h3 {
  margin-left: 25px;
  color: var(--colorFont);
}

.botaoMostrar {

  width: 100%;
  border-width: 1px;
  display: flex;
  justify-content: space-evenly;

}

.botaoMostrar > button {
  font-size: 13px;
  text-shadow:
    -1px -2px 0px #000000,
    -1px 2px 0px #000000,
    1px -2px 0px #000000,
    1px 2px 0px #000000;
  color: var(--colorFont);
  height: 55px;
  width: 270px;
  background-color: var(--colorMain);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.botaoMostrar > button > img {
  width: 30px;
}


/* Estilo para a tabela */
.tabelacrud {
  width: 825px;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 6px; 
  overflow: hidden;

}


th, td {
  border: 4px solid var(--colorMain);
  padding: 8px;
  text-align: left;
  color: var(--colorFont);

}

th {
  background-color: var(--colorMain);
    text-shadow:
  -1px -1px 0px #000000,
  -1px 1px 0px #000000,
  1px -1px 0px #000000,
  1px 1px 0px #000000;

}

tr {
  background-color: #ffffff;

}

td {
  color: #000000;
}

td > button {
  padding: 5px;
  margin-right: 25px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  border-radius: 50%;
}

td > button > img {
  width: 50px;
  height: 50px;
}

td > button:hover {
  background-color: var(--colorMain);
}


